* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color:#777474;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#95330E ;
}


.form input {  
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}
.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 47%;
  padding: 0 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(138, 124, 124, 0.863);
  width: 260px;
  height: 170px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  background-color:#C04617;
  padding: 16px;
}

#updateInput {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}

.addButton {
  width: 300px;
  height: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .column {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}